.header__container {
  background-color: #fcbebe;
  height: 10vh;
  width: 100%;
}

.nav__container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 4%;
  padding-right: 15%;
}

.header__search {
  width: 401px;
}
.header__input {
  height: 54px;
  width: 100%;
  border-radius: 9px;
  border: 5px solid #fcbebe;
  outline: none;
  padding: 5px;
  font-size: var(--medium-font-size);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.header__title {
    font-family: "Brawler";
    font-size: var(--h1-font-size);
}

.header__flag{
  width:30px;
}

.header__country{

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.header__country-selector{
  width:150px;
  height: 30px;
  border-radius: 5px;
  outline:none
}
.header__results {
  width: 391px;
  background-color: white;
  margin-top: 10px;
  position: absolute;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 10px;
  bottom: -20;
}

.result__container {
  position: relative;
  width: 100%;
  display: flex;
  border-radius: 7px;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  z-index: 10;
  padding:5px;
}
.result__container:hover{
    background-color: rgb(197, 197, 197);
}
.result__container:active {
  background-color: aliceblue;
}

.result__container img {
  height: 70px;
  border-radius: 4px;
  width: fit-content;
}

.result__title{
    margin-left:10px;
}