

.main__films{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.main__film{
    height: 200px;
    width: 200px;
    background-color: var(--title-color);
}







.miniature__container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.miniature__container:active{
    background-color: aliceblue;
}

.miniature__logo{
    height: 30px;
}



.search__box-film{
    height: 300px;
    width: 100px;
    background-color: var(--body-color);
}

.search__box-input{
    
}